<a href="https://colab.research.google.com/github/prc25/IIITH-SEDS-Mar23-Accelerated-Learning/blob/main/Car%20Price%20Prediction/Car_Price_Prediction_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Domain:
Automobiles, Sales and Marketing

##Business Context:
There is a huge demand for refurbished cars in the Indian Market today. As sales of new cars have slowed down in the recent past, the refurbished car market has continued to grow over the past year and is larger than the new car market now.

Consider this: In 2018-19, the sales of refurbished cars which were previously owned by someone has increased steadily, and it is currently estimated to be approximately 1.3 times the sales of new cars. There are multiple reasons for this shift. However, the key reason is the increase in total cost of ownership of new cars which includes taxes, insurances.

There is a slowdown in new car sales and that could mean that the demand is shifting towards the pre-owned market.

In [5]:
# Importing Train data set
import pandas as pd

github_path='https://raw.githubusercontent.com/prc25/IIITH-SEDS-Mar23-Accelerated-Learning/main/Car%20Price%20Prediction/Training_Data_Set.csv'

tdf= pd.read_csv(github_path,index_col=0)

# printing first 5 records of the tdf dataframe
tdf.head()

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
Id,,,,,,,,,,,,,,,,
25001,skoda,octavia,Ahmedabad,NaN,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,NaN,6,man,4,4,petrol,401819.25
25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,NaN,7,auto,4,5,diesel,2392855.50
25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,NaN,7,man,4,5,petrol,958606.50
25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,NaN,7,auto,4,5,diesel,3085561.50

In [6]:
# Checking basic information about the tdf to understand the to number of records and columns and non null values
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53515 entries, 25001 to 78515
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                53515 non-null  object
 1   model                53515 non-null  object
 2   Location             53515 non-null  object
 3   Distance             52304 non-null  float64
 4   Owner Type           53515 non-null  object
 5   manufacture_year     53515 non-null  int64
 6   Age of car           53515 non-null  int64
 7   engine_displacement  53515 non-null  int64
 8   engine_power         52076 non-null  float64
 9   body_type            4136 non-null   object
 10  Vroom Audit Rating   53515 non-null  int64
 11  transmission         53515 non-null  object
 12  door_count           53515 non-null  object
 13  seat_count           53515 non-null  object
 14  fuel_type            53515 non-null  object
 15  Price                53515 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 6.9+ MB

In [7]:
# checking basic descriptive stats on tdf file
tdf.describe(include='all')

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
count,53515,53515,53515,5.230400e+04,53515,53515.000000,53515.000000,53515.000000,52076.000000,4136,53515.000000,53515,53515,53515,53515,5.351500e+04
unique,8,23,11,NaN,4,NaN,NaN,NaN,NaN,2,NaN,2,7,10,2,NaN
top,skoda,octavia,Coimbatore,NaN,First,NaN,NaN,NaN,NaN,compact,NaN,man,4,5,diesel,NaN
freq,21563,12619,4976,NaN,13406,NaN,NaN,NaN,NaN,4127,NaN,36734,33808,38824,27559,NaN
mean,NaN,NaN,NaN,9.454626e+04,NaN,2010.408110,8.591890,1904.049014,100.448345,NaN,5.998374,NaN,NaN,NaN,NaN,1.098084e+06
std,NaN,NaN,NaN,2.755617e+05,NaN,4.650322,4.650322,1496.564596,45.330622,NaN,1.418336,NaN,NaN,NaN,NaN,8.441565e+05
min,NaN,NaN,NaN,0.000000e+00,NaN,1934.000000,3.000000,14.000000,10.000000,NaN,4.000000,NaN,NaN,NaN,NaN,3.000000e+00
25%,NaN,NaN,NaN,1.549000e+04,NaN,2008.000000,5.000000,1395.000000,73.000000,NaN,5.000000,NaN,NaN,NaN,NaN,5.051812e+05
50%,NaN,NaN,NaN,6.552000e+04,NaN,2011.000000,8.000000,1896.000000,91.000000,NaN,6.000000,NaN,NaN,NaN,NaN,8.854552e+05
75%,NaN,NaN,NaN,1.356410e+05,NaN,2014.000000,11.000000,1995.000000,125.000000,NaN,7.000000,NaN,NaN,NaN,NaN,1.477829e+06
max,NaN,NaN,NaN,9.899800e+06,NaN,2016.000000,85.000000,32000.000000,896.000000,NaN,8.000000,NaN,NaN,NaN,NaN,2.212078e+07

In [10]:
#Finding null values count of each column in tdf frame
tdf.isnull().sum()

Maker                      0
model                      0
Location                   0
Distance                1211
Owner Type                 0
manufacture_year           0
Age of car                 0
engine_displacement        0
engine_power            1439
body_type              49379
Vroom Audit Rating         0
transmission               0
door_count                 0
seat_count                 0
fuel_type                  0
Price                      0
dtype: int64