<a href="https://colab.research.google.com/github/prc25/IIITH-SEDS-Mar23-Accelerated-Learning/blob/main/Car%20Price%20Prediction/Car_Price_Prediction_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Domain:
Automobiles, Sales and Marketing

##Business Context:
There is a huge demand for refurbished cars in the Indian Market today. As sales of new cars have slowed down in the recent past, the refurbished car market has continued to grow over the past year and is larger than the new car market now.

Consider this: In 2018-19, the sales of refurbished cars which were previously owned by someone has increased steadily, and it is currently estimated to be approximately 1.3 times the sales of new cars. There are multiple reasons for this shift. However, the key reason is the increase in total cost of ownership of new cars which includes taxes, insurances.

There is a slowdown in new car sales and that could mean that the demand is shifting towards the pre-owned market.

In [16]:
# Importing Train data set
import pandas as pd

github_path='https://raw.githubusercontent.com/prc25/IIITH-SEDS-Mar23-Accelerated-Learning/main/Car%20Price%20Prediction/Training_Data_Set.csv'

tdf= pd.read_csv(github_path,index_col=0)

# printing first 5 records of the tdf dataframe
tdf.head()

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
Id,,,,,,,,,,,,,,,,
25001,skoda,octavia,Ahmedabad,NaN,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,NaN,6,man,4,4,petrol,401819.25
25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,NaN,7,auto,4,5,diesel,2392855.50
25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,NaN,7,man,4,5,petrol,958606.50
25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,NaN,7,auto,4,5,diesel,3085561.50

In [17]:
# Checking basic information about the tdf to understand the to number of records and columns and non null values
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53515 entries, 25001 to 78515
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                53515 non-null  object
 1   model                53515 non-null  object
 2   Location             53515 non-null  object
 3   Distance             52304 non-null  float64
 4   Owner Type           53515 non-null  object
 5   manufacture_year     53515 non-null  int64
 6   Age of car           53515 non-null  int64
 7   engine_displacement  53515 non-null  int64
 8   engine_power         52076 non-null  float64
 9   body_type            4136 non-null   object
 10  Vroom Audit Rating   53515 non-null  int64
 11  transmission         53515 non-null  object
 12  door_count           53515 non-null  object
 13  seat_count           53515 non-null  object
 14  fuel_type            53515 non-null  object
 15  Price                53515 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 6.9+ MB

In [18]:
# checking basic descriptive stats on tdf file
tdf.describe(include='all')

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
count,53515,53515,53515,5.230400e+04,53515,53515.000000,53515.000000,53515.000000,52076.000000,4136,53515.000000,53515,53515,53515,53515,5.351500e+04
unique,8,23,11,NaN,4,NaN,NaN,NaN,NaN,2,NaN,2,7,10,2,NaN
top,skoda,octavia,Coimbatore,NaN,First,NaN,NaN,NaN,NaN,compact,NaN,man,4,5,diesel,NaN
freq,21563,12619,4976,NaN,13406,NaN,NaN,NaN,NaN,4127,NaN,36734,33808,38824,27559,NaN
mean,NaN,NaN,NaN,9.454626e+04,NaN,2010.408110,8.591890,1904.049014,100.448345,NaN,5.998374,NaN,NaN,NaN,NaN,1.098084e+06
std,NaN,NaN,NaN,2.755617e+05,NaN,4.650322,4.650322,1496.564596,45.330622,NaN,1.418336,NaN,NaN,NaN,NaN,8.441565e+05
min,NaN,NaN,NaN,0.000000e+00,NaN,1934.000000,3.000000,14.000000,10.000000,NaN,4.000000,NaN,NaN,NaN,NaN,3.000000e+00
25%,NaN,NaN,NaN,1.549000e+04,NaN,2008.000000,5.000000,1395.000000,73.000000,NaN,5.000000,NaN,NaN,NaN,NaN,5.051812e+05
50%,NaN,NaN,NaN,6.552000e+04,NaN,2011.000000,8.000000,1896.000000,91.000000,NaN,6.000000,NaN,NaN,NaN,NaN,8.854552e+05
75%,NaN,NaN,NaN,1.356410e+05,NaN,2014.000000,11.000000,1995.000000,125.000000,NaN,7.000000,NaN,NaN,NaN,NaN,1.477829e+06
max,NaN,NaN,NaN,9.899800e+06,NaN,2016.000000,85.000000,32000.000000,896.000000,NaN,8.000000,NaN,NaN,NaN,NaN,2.212078e+07

In [19]:
#Finding null values count of each column in tdf frame
tdf.isnull().sum()

Maker                      0
model                      0
Location                   0
Distance                1211
Owner Type                 0
manufacture_year           0
Age of car                 0
engine_displacement        0
engine_power            1439
body_type              49379
Vroom Audit Rating         0
transmission               0
door_count                 0
seat_count                 0
fuel_type                  0
Price                      0
dtype: int64

In [20]:
tdf.head()

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
Id,,,,,,,,,,,,,,,,
25001,skoda,octavia,Ahmedabad,NaN,Second,1964,55,1964,147.0,compact,8,man,None,None,petrol,543764.25
25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,NaN,6,man,4,4,petrol,401819.25
25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,NaN,7,auto,4,5,diesel,2392855.50
25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,NaN,7,man,4,5,petrol,958606.50
25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,NaN,7,auto,4,5,diesel,3085561.50

In [30]:
tdf=tdf.dropna(subset=['Distance ','engine_power'])

In [31]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51119 entries, 25002 to 78515
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                51119 non-null  object
 1   model                51119 non-null  object
 2   Location             51119 non-null  object
 3   Distance             51119 non-null  float64
 4   Owner Type           51119 non-null  object
 5   manufacture_year     51119 non-null  int64
 6   Age of car           51119 non-null  int64
 7   engine_displacement  51119 non-null  int64
 8   engine_power         51119 non-null  float64
 9   body_type            2689 non-null   object
 10  Vroom Audit Rating   51119 non-null  int64
 11  transmission         51119 non-null  object
 12  door_count           51119 non-null  object
 13  seat_count           51119 non-null  object
 14  fuel_type            51119 non-null  object
 15  Price                51119 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 6.6+ MB

In [35]:
tdf=tdf.drop(['body_type'],axis=1)

In [36]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51119 entries, 25002 to 78515
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                51119 non-null  object
 1   model                51119 non-null  object
 2   Location             51119 non-null  object
 3   Distance             51119 non-null  float64
 4   Owner Type           51119 non-null  object
 5   manufacture_year     51119 non-null  int64
 6   Age of car           51119 non-null  int64
 7   engine_displacement  51119 non-null  int64
 8   engine_power         51119 non-null  float64
 9   Vroom Audit Rating   51119 non-null  int64
 10  transmission         51119 non-null  object
 11  door_count           51119 non-null  object
 12  seat_count           51119 non-null  object
 13  fuel_type            51119 non-null  object
 14  Price                51119 non-null  float64
dtypes: float64(3), int64(4), object(8)
memory usage: 6.2+ MB

In [37]:
tdf.head()

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
Id,,,,,,,,,,,,,,,
25002,fiat,panda,Ahmedabad,27750.0,Third,2012,7,1242,51.0,6,man,4,4,petrol,401819.25
25003,bmw,x1,Hyderabad,46000.0,Third,2014,5,1995,105.0,7,auto,4,5,diesel,2392855.50
25004,nissan,juke,Mumbai,43949.0,Third,2011,8,1618,140.0,7,man,4,5,petrol,958606.50
25005,bmw,x5,Jaipur,59524.0,Fourth & Above,2012,7,2993,180.0,7,auto,4,5,diesel,3085561.50
25006,skoda,octavia,Chennai,12015.0,First,2015,4,1968,110.0,4,man,4,5,diesel,1543728.75

In [41]:
utdf=tdf['Maker'].value_counts()

In [42]:
utdf

skoda       20102
toyota       7720
audi         7251
bmw          6964
nissan       5147
hyundai      2073
fiat         1824
maserati       38
Name: Maker, dtype: int64

In [43]:
tdf['fuel_type'].value_counts()

diesel    26597
petrol    24522
Name: fuel_type, dtype: int64

In [45]:

tdf['seat_count'].value_counts()

5       37927
None     7023
4        4460
7         850
2         724
3         109
6          22
9           2
1           1
8           1
Name: seat_count, dtype: int64

In [46]:

tdf['transmission'].value_counts()

man     35283
auto    15836
Name: transmission, dtype: int64

In [47]:

tdf['Age of car'].value_counts()

4     11633
7      6189
8      4825
5      4812
9      3655
6      2856
10     2817
11     2731
12     2670
13     1901
14     1541
15     1265
16      877
18      688
17      676
19      647
20      498
21      265
3       139
22      134
23       71
25       34
28       32
24       30
26       21
27       20
29       17
30       11
31       10
35        5
34        5
51        5
46        4
37        4
39        4
33        3
48        3
36        3
47        2
57        2
53        2
32        2
43        1
38        1
45        1
60        1
59        1
50        1
67        1
63        1
85        1
56        1
Name: Age of car, dtype: int64

In [49]:
tdf.describe(include='all')

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type,Price
count,51119,51119,51119,5.111900e+04,51119,51119.000000,51119.000000,51119.000000,51119.000000,51119.000000,51119,51119,51119,51119,5.111900e+04
unique,8,23,11,NaN,4,NaN,NaN,NaN,NaN,NaN,2,7,10,2,NaN
top,skoda,octavia,Coimbatore,NaN,First,NaN,NaN,NaN,NaN,NaN,man,4,5,diesel,NaN
freq,20102,11606,4772,NaN,12819,NaN,NaN,NaN,NaN,NaN,35283,33771,37927,26597,NaN
mean,NaN,NaN,NaN,9.295331e+04,NaN,2010.473796,8.526204,1853.911090,100.578415,5.999022,NaN,NaN,NaN,NaN,1.107313e+06
std,NaN,NaN,NaN,2.441553e+05,NaN,4.509153,4.509153,1138.434753,45.566685,1.418922,NaN,NaN,NaN,NaN,8.492075e+05
min,NaN,NaN,NaN,0.000000e+00,NaN,1934.000000,3.000000,14.000000,10.000000,4.000000,NaN,NaN,NaN,NaN,5.250000e+00
25%,NaN,NaN,NaN,1.720000e+04,NaN,2008.000000,5.000000,1390.000000,73.000000,5.000000,NaN,NaN,NaN,NaN,5.178052e+05
50%,NaN,NaN,NaN,6.700000e+04,NaN,2012.000000,7.000000,1896.000000,91.000000,6.000000,NaN,NaN,NaN,NaN,8.925998e+05
75%,NaN,NaN,NaN,1.361620e+05,NaN,2014.000000,11.000000,1995.000000,125.000000,7.000000,NaN,NaN,NaN,NaN,1.477285e+06
max,NaN,NaN,NaN,9.899800e+06,NaN,2016.000000,85.000000,32000.000000,896.000000,8.000000,NaN,NaN,NaN,NaN,2.212078e+07

In [52]:
github_path_test='https://raw.githubusercontent.com/prc25/IIITH-SEDS-Mar23-Accelerated-Learning/main/Car%20Price%20Prediction/Test_Data_Set.csv'


dft= pd.read_csv(github_path_test,index_col=0)

# printing first 5 records of the tdf dataframe
dft.head()

,Maker,model,Location,Distance,Owner Type,manufacture_year,Age of car,engine_displacement,engine_power,body_type,Vroom Audit Rating,transmission,door_count,seat_count,fuel_type
Id,,,,,,,,,,,,,,,
11001,skoda,octavia,Mumbai,150000.0,First,2007,12,1595,75.0,NaN,5,man,4,5,petrol
11002,skoda,rapid,Coimbatore,29376.0,Third,2014,5,1598,77.0,NaN,4,man,4,5,diesel
11003,skoda,octavia,Coimbatore,30563.0,Second,2014,5,1968,110.0,NaN,5,man,5,5,diesel
11004,audi,q3,Delhi,8650.0,Fourth & Above,2015,4,1968,110.0,NaN,8,auto,4,5,diesel
11005,audi,tt,Chennai,6400.0,Third,2015,4,1984,169.0,NaN,4,auto,2,None,petrol

In [53]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5615 entries, 11001 to 16615
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                5615 non-null   object
 1   model                5615 non-null   object
 2   Location             5615 non-null   object
 3   Distance             5487 non-null   float64
 4   Owner Type           5615 non-null   object
 5   manufacture_year     5615 non-null   int64
 6   Age of car           5615 non-null   int64
 7   engine_displacement  5615 non-null   int64
 8   engine_power         5447 non-null   float64
 9   body_type            422 non-null    object
 10  Vroom Audit Rating   5615 non-null   int64
 11  transmission         5615 non-null   object
 12  door_count           5615 non-null   object
 13  seat_count           5615 non-null   object
 14  fuel_type            5615 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 701.9+ KB

In [54]:
dft=dft.dropna(subset=['Distance ','engine_power'])
dft=dft.drop(['body_type'],axis=1)

In [55]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5348 entries, 11001 to 16615
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                5348 non-null   object
 1   model                5348 non-null   object
 2   Location             5348 non-null   object
 3   Distance             5348 non-null   float64
 4   Owner Type           5348 non-null   object
 5   manufacture_year     5348 non-null   int64
 6   Age of car           5348 non-null   int64
 7   engine_displacement  5348 non-null   int64
 8   engine_power         5348 non-null   float64
 9   Vroom Audit Rating   5348 non-null   int64
 10  transmission         5348 non-null   object
 11  door_count           5348 non-null   object
 12  seat_count           5348 non-null   object
 13  fuel_type            5348 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 626.7+ KB

In [ ]:
location_me = tdf.groupby("Location")["Price"].mean()
transmission_me = tdf.groupby("transmission")["Price"].mean()
fuel_type_me = tdf.groupby("fuel_type")["Price"].mean()
owner_type_me = tdf.groupby("Owner Type")["Price"].mean()
manufacturer_me = tdf.groupby("model")["Price"].mean()
brands_me = tdf.groupby("Maker")["Price"].mean()
manufacture_year_me=tdf.groupby('manufacture_year')["Price"].mean()
Age_of_car_me=tdf.groupby('Age of car')["Price"].mean()
Vroom_Audit_Rating_me=tdf.groupby('Vroom Audit Rating')["Price"].mean()
door_count_me	=tdf.groupby('door_count')["Price"].mean()
seat_count_me = tdf.groupby('seat_count')["Price"].mean()



def mean_encoding(dataset) :

    op_set_5 = (dataset
                .assign( Location = dataset.Location.replace(location_me.index, location_me.values) )
                .assign( Transmission = dataset.Transmission.replace(transmission_me.index, transmission_me.values) )
                .assign( Fuel_Type = dataset.Fuel_Type.replace(fuel_type_me.index, fuel_type_me.values) )
                .assign( Owner_Type = dataset.Owner_Type.replace(owner_type_me.index, owner_type_me.values) )
                .assign( Manufacturer = dataset.Manufacturer.replace(manufacturer_me.index, manufacturer_me.values) )
                .assign( Brands = dataset.Brands.replace(brands_me.index, brands_me.values) )
                .assign( manufacture_year = dataset.manufacture_year.replace(manufacture_year_me.index,manufacture_year_me.values))
                .assign()
               )

    return op_set_5

train_data = mean_encoding(train_data)
train_data.head()